@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap');


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}


.App {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    width: 100vw;
    background-image: url(../utils/christmas.jpg);
    background-position: 50% 72%;
}

